<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>


        <form action='/chipmunks' method='post'>
            <p>Name: <input type='text' name='name'></p>
            </p>Age: <input type='number' name='age'></p>
            </p>Color: <input type='String' name='color'></p>
            </p><input type='submit' value='create chipmunk'></p>
        </form>

        <% if(typeof(errors) != "undefined") {%>
            <%for(error in errors) {%>
                <h2><%= errors[error].message %></h2>
                <%}%>
        <% }%>

</body>
</html>