<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <title>Cars</title>
</head>
<body>
    <h2>Welcome, choose your cars</h2>


    <img src="/images/bugatti.jpeg" alt="#"><p>Bughatti Viron</p>
    <img src="/images/mclaren.jpeg" alt="#"><p>Mclaren</p>
    <img src="/images/Lamborghini.jpeg" alt="#"><p>Forza1</p>
    
</body>
</html>