

<h1>Counter</h1>


<p> <%= count %></p>


<form action="/add2" method="POST">
<input type="submit", value="add2">
</form>

<form action="/reset" method='POST'>
    <input type="submit", value="reset">
</form>
