<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>The ninjas</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/stylesheet.css')}}">
</head>
<body>
	<div class="wrapper">
		<div class= "ninja_box">
			<h1>Meet Your ninjas</h1>
			<h2><img src="static/img/donatello.jpg" alt= ''> donatello </h2>
			<h2><img src="static/img/leonardo.jpg" alt= ''> leonardo </h2>
			<h2><img src="static/img/michelangelo.jpg" alt=''> michelangelo </h2>
			<h2><img src="static/img/raphael.jpg" alt= ''> raphael </h2>
		</div>
	</div>
</body>
	</html>