<!DOCTYPE html>
<html>
<head>
	<title>about ninjas</title>
</head>
<body>
	<h1>All About Ninjas</h1>
	<h3> The origin of ninjas </h3>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ut malesuada mi. Integer faucibus sapien id mi mattis fermentum. Nunc pulvinar varius enim, eu aliquam metus. Donec id sollicitudin nulla. Maecenas vulputate felis eu volutpat commodo. In aliquam urna mauris, quis rhoncus dolor sagittis commodo. Ut dolor magna, ultrices et nibh non, pulvinar ultricies tortor.</p>

	<a href="/dojos">CreateYourDojo</a>
</body>
</html>