<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <% for( i in quotes) { %>
            <p> <%=quotes[i].quote %></p>
            <p> <%=quotes[i].name %> at <%=quotes.[i].createdAt %></p>  
            <hr>       
        <% } %> 
        <hr>

        <% if (typeof(errors) != "undefined" ) { %>
            <% for (var x in errors) { %>
                <h3><%= errors[x].message %></h3>
                <% } %>
        <% } %>
</body>
</html>