*{
	margin: 10px;
 	padding: 10px;
	vertical-align: top;
	border-color: green;
}
#box1 {
	background-color: #cfcba5; 
	height: 900px; 
	width: 980px; 
	padding-top: 40px; 
}
.box3 {
	height: 150px;
	width: 150px; 
	border: 2px solid black; 
	float: left; 
	background-color: #76ABEB; 
}
.box4 {
	height: 150px;
	width: 150px; 
	border: 2px solid black; 
	float: left; 
	background-color: #f25d65; 
}
#icon1 {
	height: 80px; 
	width: 130px; 
	margin-right: 100px; 
	float: right; 
}
#icon2 {
	height: 80px; 
	width: 130px; 
	margin-left: 80px; 
}
#icon2 img {
	width: 130px; 
	height: 80px; 
	padding: 0px; 
	margin: 0px; 
}
#icon1 img {
	width: 130px; 
	height: 80px; 
	padding: 0px; 
	margin: 0px; 

}
h1 {
	float: right; 
	margin-top: 35px; 
	margin-right: 5px; 
	font-size: 300%; 
}
img {
	margin: 0px; 
	height: 150px; 
	width: 150px; 
	padding: 0px; 

}