
<h1>Welcome to DC Dojo</h1>

<form action='/success' method='post'>
    Name: <input type='text' name='name'>
    Email: <input type='text' name='email'>
    <input type='submit' value='create user'>
</form>
  