<!DOCTYPE html>
<html>
<head>
	<title>About Me</title>
</head>
<body>
	<p> I am a Python web developer and love to hackathon in my spare time. I love making things and meeting new people. I also like to travel to see different cultures of the world.
		I am an Electrical Engineer, and now I love to code. 
	</p>

</body>
</html>


<!-- 
<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas quod, ipsa consectetur debitis sint deleniti officia, distinctio explicabo natus aperiam neque, vitae. Corrupti necessitatibus earum consectetur ipsa impedit eveniet excepturi!
        </p>
    </body>
</html> -->