<!DOCTYPE html>
<html>
<head>
	<title>My Portfolio</title>
</head>
<body>
	<h3>Welcome to my portfolio! My name is Richard </h3>

    <p> create a user to join my page</p>
    <form action='/user' method='post'>
        name: <input type="text" name="name">
        email: <input type="text" name="email">
        userid: <input type="text" name="userID">
        username: <input type="text" name="username">
        <input type="submit" name="create user">
    </form>
</body>
</html>


<!-- <!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h1>Welcome to my portfolio!</h1>
    </body>
</html> -->