<html>
    <head>
        <title>your survey result</title>
    </head>
    <body>
        <h3>Thanks for submitting your form!</h3>
    
    
        <h3>Submitted Information</h3>
        <p> <%= name %></p>
        <p><%= location %></p>
        <p><%= lang %></p>
        <p><%= comment %></p>
        
    
        <a href="/"><button>Go Back</button></a>
    
    </body>
    </html>