<h2>Q&A</h2>

<fieldset>
  <legend>Registeration</legend>

<div *ngIf="user.errors">
  <h3 *ngFor="let err of user.errors" class="error">{{ err.message }}</h3>
</div>
<form (submit)="register()">

  <table>
    <tr>
      <td>Name:</td>
      <td><input type="text" name="user.username" [(ngModel)]="user.username"></td>
    </tr>
    <tr>
      <td>Password:</td>
      <td><input type="password" name="user.password" [(ngModel)]="user.password"></td>
    </tr>
    <tr>
      <td></td>
      <td><input type="submit" value="Register"></td>
    </tr>
  </table>  
</form>
</fieldset>
<fieldset>
  <legend>Login</legend>

<h3 *ngIf="loggedIn.errors" class="error">{{loggedIn.errors}}</h3>

<form (submit)="login()">
  <table>
    <tr>
      <td>Name:</td>
      <td><input type="text" name="loggedIn.username" [(ngModel)]="loggedIn.username"></td>
    </tr>
    <tr>
      <td>Password:</td>
      <td><input type="password" name="loggedIn.password" [(ngModel)]="loggedIn.password"></td>
    </tr>
    <tr>
      <td></td>
      <td><input type="submit" value="Login"></td>
    </tr>
  </table>
</form>
</fieldset>